@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebAPI Signing helper</title>
    <link rel="stylesheet" href="~/Content/css/styles.css" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
